* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

h3 {
    margin-left: 10px;
    
}

.header-wrapper {
    text-align: center;    
    background-color: rgb(41, 190, 141);
    color: azure;
    padding-top: 50px;
    padding-bottom: 50px;

}

.header-p {
    margin-top: 15px;
}

nav {    
    background-color: rgb(78, 73, 73); 
    
}

ul {
    display: flex;
}

li {
    padding: 15px;
    list-style-type: none;    /* убоать точки в списке*/ 
}

a {    
    color: white;
    text-decoration: none;
}

li:hover a {
    color: black;
}

li:hover {
    background-color: #fff;
}

main {
    display: flex;
    
}
.aside_img {
    height: 30%;
    width: 95%;
    background-color: bisque;
    margin-left: 10px;
}

.images {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 40%;
}
#aside_img_list {

    height: 25%;
    width: 95%;
    background-color: rgba(65, 219, 93, 0.607);
    margin-left: 10px;
    margin: 15px 0;
}

.about_cars {
    flex: 30%;
    background-color: rgba(211, 211, 211, 0.744);
    padding: 20px;
    height: 1100px;    
    align-content: center;
}

.title_heading {
    flex: 70%;
    padding: 20px;
    background-color: rgba(238, 238, 206, 0.858);
}

.title_heading img{
    height: 200px;
    width: 100%;
}

.main_content_img  {
    height: 15%;
    width: 100%;
    background-color: rgba(239, 141, 66, 0.813);
}

h2, p {
    padding: 10px;
    
}


.aside_img_list {
    margin-top: 15px;
    height: 10%;
    width: 95%;
    background-color: rgb(226, 247, 247);
}

.title_heading h2 {
    text-transform: uppercase;
    
}

footer {
    height: 50px;
    background-color: rgba(128, 128, 128, 0.721);
    display: flex;
    justify-content: center;
    align-items: center;

}
